<div class="page-card">

    <h2>Create Intimation</h2>

    <div class="form-grid">

        <div>

            <label>Patient</label>

            <select>
                <option>Self</option>
                <option>Father</option>
            </select>

        </div>

        <div>

            <label>Hospital</label>

            <input type="text">

        </div>

        <div>

            <label>Disease</label>

            <input type="text">

        </div>

        <div>

            <label>Admission Date</label>

            <input type="date">

        </div>

    </div>

</div>