<div class="sidebar">

    <div class="logo">

        CG CASHLESS

    </div>

    <div class="user-info">

        Employee Portal

    </div>

    <nav class="menu">

        <a routerLink="/employee/dashboard">

            Dashboard

        </a>

        <a routerLink="/employee/profile">

            Profile

        </a>

        <a routerLink="/employee/dependents">

            Dependents

        </a>

        <a routerLink="/employee/intimations">

            Medical Intimations

        </a>

    </nav>

</div>