<header class="header">

    <div class="portal-title">

        Chhattisgarh Medical Cashless Portal

    </div>

    <div class="user-section">

        <select>

            <option>
                Employee
            </option>

            <option>
                DDO
            </option>

            <option>
                SO
            </option>

        </select>

        <button
            class="logout-btn"
            (click)="logout()">

            Logout

        </button>

    </div>

</header>